/*
    For: Dice roll flex example before Cohort. 12/25/2015
    By: Patrick Bridgemon
*/

main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #66ff66;
}

h1 {
    width: 100%;
    text-align: center;
    font:2em Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    width: 100%;
    text-align: center;
    margin-left: 25px;
	font:1.5em Verdana, Arial, Helvetica, sans-serif;
}

p {
    width: 100%;
    text-align: center;
	font: 80%/1.5 Verdana, Arial, Helvetica, sans-serif;
}

.dice{
    /*float: left;*/
    width: 32px;
    background: #F5F5F5;
    border: #999 1px solid;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 10px 15px;
	background-color: #0033CC; /* blue */
    letter-spacing: 3px;
    /*text-decoration:none;*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: #FFFFFF;
    border-radius: 4px;
	transition: background 0.6s linear 0s, color 0.6s linear 0s;		
}

button:hover {
	background-color: #000080; /* navy */
    /*text-decoration:none;*/
    color: #FFFFFF;
}